* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  background-color: #f9f4ed;
}
.container {
  display: grid;
  font-size: 50px;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: 300px minmax(550px, auto) 70px;
  grid-template-areas: "Header Header" "Content Content" "Footer Footer";
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header {
  padding-top: 20%;
  grid-area: Header;
}
header h1 {
  text-align: center;
}
header hr {
  border: 0;
  height: 0.3em;
  background: #c66;
  display: block;
  clear: both;
  margin: 1em 0.8em;
  padding: 0;
  border-radius: 0.25em;
}
section {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: Content;
}
section h1 {
  font-size: 0.6em;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 10px;
}
section a {
  font-size: 0.6em;
  color: rgb(80, 80, 80);
  border: rgb(194, 194, 194) 1px solid;
  border-left: 0;
  border-right: 0;
  padding: 30px;
  text-decoration: none;
  line-height: 3.15em;
}
section a:hover {
  color: #c66;
  border: rgb(194, 194, 194) 1px solid;
  border-left: 0;
  border-right: 0;
  padding: 30px;
  background-color: whitesmoke;
  text-decoration: none;
}
section hr {
  border: 0;
  height: 0.3em;
  background: #c66;
  display: block;
  clear: both;
  margin: 1em 0.8em;
  padding: 0;
  border-radius: 0.25em;
}
footer {
  grid-area: Footer;
}
footer p {
  font-size: 25px;
  padding-top: 10px;
}
