* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  background-color: #f9f4ed;
  font-family: "HelveticaNeue-CondensedBold", "trebuchet ms", sans-serif;
}
.container {
  display: grid;
  font-size: 50px;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: 0px 100px minmax(250px, auto) 70px;
  grid-template-areas: "nav nav" "Header Header" "Content Content" "Footer Footer";
}
.container#social {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/04/09/73184/fc16187634c3753561f6e13bbfbb81af-1400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  height: 100vh;
  display: grid;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: 0px 100px minmax(250px, auto) 70px;
  grid-template-areas: "nav nav" "Header Header" "Content Content" "Footer Footer";
}
nav {
  padding-left: 36.5em;
  margin-bottom: 10em;
  padding-top: 0.22em;
  grid-area: nav;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 0px 10px;
  font-size: 40px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 20px;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: cadetblue;
}
header {
  margin: 0;
  padding: 0;
  grid-area: Header;
  background-color: lightsalmon;
}
header#social {
  margin: 10px 0;
  padding: 0;
  grid-area: Header;
  background-color: transparent;
}
header h1 {
  text-align: center;
  font-size: 1.5em;
  color: #444;
}
header#social h1 {
  text-align: center;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #ff0000;
  background-color: transparent;
}
section {
  background-color: rgb(91, 155, 240);
  grid-area: Content;
}
section#social {
  background-color: moccasin;
  grid-area: Content;
  background-color: transparent;
}
section p:hover {
  background-color: rgb(74, 252, 169);
  grid-area: Content;
}
.img-grid img {
  height: 300px;
  width: 400px;
  border-radius: 50px;
  margin: 10px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.img-grid img:hover {
  border-radius: 100px;
  margin: 10px 30px;
  box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.5);
}
footer {
  background-color: orange;
  grid-area: Footer;
}
footer#social {
  grid-area: Footer;
  background-color: transparent;
}
footer p {
  font-size: 25px;
  padding-top: 20px;
}
.img-grid {
  background-color: #fff;
  padding: 20px;
}
.home-page {
  background-color: #fff;
  padding-left: 95%;
}
.home-page img {
  width: 40px;
  height: 40px;
  border: red 5px solid;
  border-radius: 15px;
  padding: 5px;
}
.home-page img:hover {
  border: salmon 5px solid;
  background-color: pink;
}
table,
td {
  margin-top: 70px;
  padding: 8px;
  border: rgb(100, 100, 100) 1px solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  text-align: left;
}
td:hover {
  border-style: double;
  border-left: none;
}
td#img:hover {
  border-left: none;
  border-right: none;
}
.center tr:hover {
  background-color: #fff;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.center img {
  width: 70px;
}
.center a {
  text-decoration: none;
  text-align: left;
  color: #000;
}
.center a:hover {
  text-decoration: none;
  text-align: left;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #fd8892;
}
/* @media screen and (max-width: 450px) {
  .img-grid img {
    height: 200px;
    width: 300px;
    border-radius: 100px;
    margin: 5px auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  footer p {
    font-size: 18px;
    padding-top: 25px;
  }
  .home-page {
    background-color: #fff;
    padding-left: 0%;
    margin: 0;
  }
  .home-page img {
    width: 25px;
    height: 25px;
    border: red 5px solid;
    border-radius: 15px;
    padding: 5px;
  }
  .home-page img:hover {
    border: salmon 5px solid;
    background-color: pink;
  }
}*/
@media screen and (max-width: 768px) {
  /* iPad */
  header#social h1 {
    padding-left: 0.23em;
    text-align: left;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #ff0000;
    background-color: transparent;
  }
  table,
  td {
    margin-top: 70px;
    padding: 15px;
    border: rgb(100, 100, 100) 1px solid;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    text-align: left;
  }
  table.center {
    margin-left: 0.8em;
    margin-right: auto;
  }
  .center img {
    width: 70px;
  }
  .center a {
    text-decoration: none;
    text-align: left;
    color: #000;
    font-size: 0.92em;
  }
  footer p {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 5em;
    text-align: left;
  }
}
@media screen and (max-width: 414px) {
  /* iPhone 6/7/8 Plus */
  header#social h1 {
    padding-top: 0.5em;
    padding-left: 0.32em;
    text-align: left;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #ff0000;
    background-color: transparent;
  }
  table,
  td {
    margin-top: 50px;
    padding: 5px;
    border: rgb(100, 100, 100) 1px solid;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    text-align: left;
  }
  table.center {
    margin-left: 0.4em;
    margin-right: auto;
  }
  .center img {
    width: 40px;
  }
  .center a {
    text-decoration: none;
    text-align: left;
    color: #000;
    font-size: 0.5em;
  }
  footer p {
    font-size: 0.35em;
    padding-top: 20px;
    padding-left: 1.5em;
    text-align: left;
  }
}
@media screen and (max-width: 414px) and (min-height: 596px) {
  /* My Phone */
  header#social h1 {
    padding-top: 0.5em;
    padding-left: 0.32em;
    text-align: left;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #ff0000;
    background-color: transparent;
  }
  table,
  td {
    margin-top: 50px;
    padding: 5px;
    border: rgb(100, 100, 100) 1px solid;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    text-align: left;
  }
  table.center {
    margin-left: 0.4em;
    margin-right: auto;
  }
  .center img {
    width: 40px;
  }
  .center a {
    text-decoration: none;
    text-align: left;
    color: #000;
    font-size: 0.5em;
  }
  footer p {
    font-size: 0.35em;
    padding-top: 20px;
    padding-left: 1.5em;
    text-align: left;
  }
}
