* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  background-color: #f9f4ed;
  font-family: "HelveticaNeue-CondensedBold", "trebuchet ms", sans-serif;
}
.container {
  display: grid;
  font-size: 50px;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: 0px 100px minmax(250px, auto) 70px;
  grid-template-areas: "nav nav" "Header Header" "Content Content" "Footer Footer";
}
.container#social {
  display: grid;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: 0px 100px minmax(250px, auto) 70px;
  grid-template-areas: "nav nav" "Header Header" "Content Content" "Footer Footer";
}
nav {
  padding-left: 36.5em;
  margin-bottom: 10em;
  padding-top: 0.22em;
  grid-area: nav;
  background-color: lightslategray;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #f9f4ed;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 30px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 20px;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #c66;
}
header {
  margin: 0;
  padding: 0;
  grid-area: Header;
  background-color: lightsalmon;
}
header#social {
  margin: 0;
  padding: 0;
  grid-area: Header;
  background-color: lightpink;
}
header h1 {
  text-align: center;
  font-size: 1.5em;
  color: #444;
}
section {
  background-color: rgb(91, 155, 240);
  grid-area: Content;
}
section#social {
  background-color: moccasin;
  grid-area: Content;
}
section p:hover {
  background-color: rgb(74, 252, 169);
  grid-area: Content;
}
.img-grid img {
  height: 300px;
  width: 400px;
  border-radius: 50px;
  margin: 10px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.img-grid img:hover {
  border-radius: 100px;
  margin: 10px 30px;
  box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.5);
}
footer {
  background-color: orange;
  grid-area: Footer;
}
footer#social {
  background-color: rgb(255, 94, 94);
  grid-area: Footer;
}
footer p {
  font-size: 25px;
  padding-top: 20px;
}
.img-grid {
  background-color: #fff;
  padding: 20px;
}
.home-page {
  background-color: #fff;
  padding-left: 95%;
}
.home-page img {
  width: 40px;
  height: 40px;
  border: red 5px solid;
  border-radius: 15px;
  padding: 5px;
}
.home-page img:hover {
  border: salmon 5px solid;
  background-color: pink;
}
table,
td {
  margin: 50px;
  padding: 8px;
  border: rgb(100, 100, 100) 1px solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  text-align: left;
}
td:hover {
  border-style: double;
  border-left: none;
}
td#img:hover {
  border-left: none;
  border-right: none;
}
.center tr:hover {
  background-color: rgb(213, 243, 255);
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.center img {
  width: 70px;
}
.center a {
  text-decoration: none;
  text-align: left;
  color: #000;
}
.center a:hover {
  text-decoration: none;
  text-align: left;
  color: darkslategray;
}
/* @media screen and (max-width: 450px) {
  .img-grid img {
    height: 200px;
    width: 300px;
    border-radius: 100px;
    margin: 5px auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  footer p {
    font-size: 18px;
    padding-top: 25px;
  }
  .home-page {
    background-color: #fff;
    padding-left: 0%;
    margin: 0;
  }
  .home-page img {
    width: 25px;
    height: 25px;
    border: red 5px solid;
    border-radius: 15px;
    padding: 5px;
  }
  .home-page img:hover {
    border: salmon 5px solid;
    background-color: pink;
  }
}
@media screen and (max-width: 414px) {
  .container#social {
    display: grid;
    text-align: center;
    grid-template-columns: 500px auto;
    grid-template-rows: 0px 100px 586px 50px;
    grid-template-areas: "nav nav" "Header Header" "Content Content" "Footer Footer";
    margin: 0 auto;
    width: 50%;
  }
  table,
  td {
    margin: 35px;
    padding: 10px;
    border: rgb(100, 100, 100) 1px solid;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    text-align: left;
  }
  td:hover {
    border-style: double;
    border-left: none;
  }
  td#img:hover {
    border-left: none;
    border-right: none;
  }
  .center tr:hover {
    background-color: rgb(213, 243, 255);
  }
  table.center {
    margin-left: auto;
    margin-right: auto;
  }
  .center img {
    width: 55px;
  }
  .center a {
    text-decoration: none;
    text-align: left;
    color: #000;
    font-size: 0.5em;
  }
  .center a:hover {
    text-decoration: none;
    text-align: left;
    color: darkslategray;
  }
} */
