* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  font-size: 50px;
  text-align: center;
  grid-template-columns: 300px auto;
  grid-template-rows: minmax(250px, auto) 70px;
  grid-template-areas: "Content Content" "Footer Footer";
}
/* header {
  background-color: aquamarine;
  grid-area: Header;
} */
/* aside {
  background-color: cornflowerblue;
  height: 650px;
  grid-area: Navigation;
} */
section {
  background-color: rgb(91, 155, 240);
  grid-area: Content;
}
section p:hover {
  background-color: rgb(74, 252, 169);
  grid-area: Content;
}
.img-grid img {
  height: 300px;
  width: 450px;
  border-radius: 100px;
  margin: 10px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.img-grid img:hover {
  border-radius: 50px;
  margin: 10px 30px;
  box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.5);
}
footer {
  background-color: orange;
  grid-area: Footer;
}
footer p {
  font-size: 25px;
  padding-top: 20px;
}
.img-grid {
  background-color: #fff;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  section img {
    height: 200px;
    width: 300px;
    border-radius: 100px;
    margin: 5px auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  footer p {
    font-size: 18px;
    padding-top: 25px;
  }
}
.home-page {
  background-color: #fff;
  padding-left: 95%;
}
.home-page img {
  width: 40px;
  height: 40px;
  border: red 5px solid;
  border-radius: 15px;
  padding: 5px;
}
.home-page img:hover {
  border: salmon 5px solid;
  background-color: pink;
}
