h1 {
  mix-blend-mode: color-burn;
  padding: 355px 150px;
  margin: 0;
  color: teal;
  font-size: 12em;
}

body,
html {
  margin: 0;
  background-color: #fff;
}

body {
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 50px;
}
.instagram-link {
  mix-blend-mode: screen;
  top: 20px;
  right: 20px;
  position: absolute;
  margin: auto;
}
.content-music {
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  color: #000;
}
